{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="title-container">
                <div class="header-content-inner">
                    <!--Original logo height 80px-->
                    <!-- <img src="" height="80" alt=""> -->
                    <!--<img src="/assets/Coverr-50e3fa11a8280339db28d062b2d608df00dd233e0ccc740f96e0d193948b9000.svg" height="80" alt="">-->
                    {{ with .Site.Params.hero.slogan }}
                    <h1>{{ . | markdownify  }}</h1>
                    {{ end }}
                    {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                    <hr>
                    {{ end }}
                    {{ with .Site.Params.hero.subtitle }}
                    <p>{{ . | markdownify }}</p>
                    {{ end }}
                    {{ with .Site.Params.hero.buttonText }}
                    <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ . }}</a>
                    {{ end }}
                    <!--<h3 class="text-white text-thin">beautiful, free videos for your homepage</h3>-->
                    <!--<h5 class="text-white text-thin">7 new videos <a class="coverr-nav-item btn-track" href="#newsletter" data-event="MondayScroll_Click" style="text-decoration: none; border-bottom: 1px dotted #fff; color: #fff;">every monday</a></h5>-->
                </div>

                <div class="text-center" id="loadBannerVideoSpinner" style="background-color: rgba(0, 0, 0, 0.5); padding: 10px; border-radius: 4px; display: none; margin-top: 20px;">
                    <h5 class="text-thin text-primary">Loading Coverr... <i class="fa fa-circle-o-notch fa-spin"></i></h5>
                </div>
            </div>
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="/video/MP4/Three-Cocktails.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="/video/WEBM/Three-Cocktails.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
                <img src="/img/header.jpg" alt="">
            </div>
        </div>
    </div>
</header>
